{% extends 'base/base.html' %}

{% load static %}

{% block title %} AuthProject : Set New Password {% endblock %}

{% block extrahead %} {% endblock %}

{% block extrastyle %} {% endblock %}

{% block header %} {% include 'partials/_header.html' %} {% endblock %}

{% block content %}


<div class="container">
  <div class="row">
    <div class="col-md-7 mx-auto">

      <form class="border border-light p-5" id="validation-form" action="{% url 'reset_user_password' uidb64 token %}"
        method="POST">

        <p class="h4 mb-4 text-center ">Set New Password</p>

        {% csrf_token %}
        {% include 'partials/_messages.html' %}

        <!-- Password -->
        <div class="col">
          <input type="password" id="passwordField" name="password" class="form-control mt-4" placeholder="Password *">
        </div>

        <!-- Confirm Password -->
        <div class="col">
          <input type="password" id="" name="confirm_password" class="form-control mt-4"
            placeholder="Confirm Password *">
        </div>

        <!-- Set Password button -->
        <button class="btn btn-info my-4 btn-block" name="set_password" type="submit">
          Set Password
        </button>

        <!-- Sign In -->
        <p class="text-center">Already have an account?
          <a href="{% url 'signin' %}">Sign In</a>
        </p>
      </form>

    </div>
  </div>
</div>

{% endblock %}

{% block footer %} {% include 'partials/_footer.html' %} {% endblock %}

{% block extrascripts %} {% endblock %}