{% extends 'base/base.html' %}

{% load static %}

{% block title %} AuthProject : Reset Password {% endblock %}

{% block extrahead %} {% endblock %}

{% block extrastyle %} {% endblock %}

{% block header %} {% include 'partials/_header.html' %} {% endblock %}

{% block content %}


<div class="container">
  <div class="row">
    <div class="col-md-7 mx-auto">

      {% if email %}
      <div class="text-center mt-5 pt-5">
        <h1>
          <span>Hi ! there,</span>
        </h1>
        <h3 class="pt-3">
          Password Reset Successfully
        </h3>
        <div class="py-2"></div>
        <h6>
          To Confirm Your Raset Password, A Confirmation Code has Send to this
        </h6>
        <h5>{{ email }}</h5>
        <h3 class="py-2">Please Go to Your Email</h3>
        <a href="https://mail.google.com/" target="_blank" class="btn btn-info p-3">
          Email Confiramation
        </a>
      </div>
      {% else %}

      <form class="border border-light p-5" id="validation-form" action="{% url 'reset_password' %}" method="POST">

        <p class="h4 mb-4 text-center ">Reset Password</p>

        {% csrf_token %}

        {% include 'partials/_messages.html' %}

        <!-- E-mail -->
        <div class="col">
          <input type="email" id="email" name="email" class="form-control mt-4" placeholder="E-mail *" value="{{ values.email }}">
        </div>

        <!-- Reset Password button -->
        <button class="btn btn-info my-4 btn-block" name="reset_password" type="submit">
          Reset Password
        </button>

         <!-- Sign Up -->
         <p class="text-center">Not a member?
           <a href="{% url 'signup' %}">Sign Up</a>
         </p>
   
      </form>

      {% endif %}
    </div>
  </div>
</div>

{% endblock %}

{% block footer %} {% include 'partials/_footer.html' %} {% endblock %}

{% block extrascripts %} {% endblock %}