{% extends 'base/base.html' %}

{% load static %}

{% block title %} AuthProject : Change Password {% endblock %}

{% block extrahead %} {% endblock %}

{% block extrastyle %} {% endblock %}

{% block header %} {% include 'partials/_header.html' %} {% endblock %}

{% block content %}


<div class="container">
  <div class="row">
    <div class="col-md-7 mx-auto">

      <form class="border border-light p-5" id="validation-form" method="POST">

        <p class="h4 mb-4 text-center ">Change Password</p>

        {% csrf_token %}
        {% include 'partials/_messages.html' %}

        <!-- Old Password -->
        <div class="col">
          <input type="password" name="old_password" class="form-control mt-4" placeholder="Old Password *">
        </div>

        <!-- Password -->
        <div class="col">
          <input type="password" id="passwordField" name="password" class="form-control mt-4" placeholder="New Password *">
        </div>

        <!-- Confirm Password -->
        <div class="col">
          <input type="password" id="" name="confirm_password" class="form-control mt-4"
            placeholder="Confirm Password *">
        </div>

        <!-- Set Password button -->
        <button class="btn btn-info my-4 btn-block" name="change_password" type="submit">
          Save Password
        </button>
      </form>

    </div>
  </div>
</div>

{% endblock %}

{% block footer %} {% include 'partials/_footer.html' %} {% endblock %}

{% block extrascripts %} {% endblock %}